<!-- Sidebar-->
<div class="border-end bg-lightgray" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-light">
        <strong>Menu</strong>
    </div>
    <div class="list-group list-group-flush bg-lightgray">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard?page=home">
            <img src="img/icons/house-door-fill.svg" class="list-group-item-image"/>
            Home</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard?page=prenota">
            <img src="img/icons/syringe-svgrepo-com.svg" class="list-group-item-image"/>
            Prenota test</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard?page=referti">
            <img src="img/icons/electrocardiogram-report-svgrepo-com.svg" class="list-group-item-image"/>
            Referti</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard?page=calendario">
            <img src="img/icons/calendar-svgrepo-com.svg" class="list-group-item-image"/>
            Calendario</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/dashboard?page=guida">
            <img src="img/icons/help-svgrepo-com.svg" class="list-group-item-image"/>
            Guida ai test</a>
    </div>
</div>
