<table id="table-info-test">
    <tr>
        <th>Tipologia test</th>
        <th>Tempo necessario all'analisi</th>
        <th>Costo</th>
        <th>Effettua</th>
    </tr>
    <tr>
        <td>Molecolare</td>
        <td>
            <input type="number" name="molecolare-ore" min="0">
            <select name="molecolare-minuti">
                <option value="0">0</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
        </td>
        <td>
            <input type="number" name="molecolare-costo" min="0">
        </td>
        <td>
            <input type="checkbox" name="molecolare-effettua">
        </td>
    </tr>
    <tr>
        <td>Antigenico</td>
        <td>
            <input type="number" name="antigenico-ore" min="0">
            <select name="antigenico-minuti">
                <option value="0">0</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
        </td>
        <td>
            <input type="number" name="antigenico-costo" min="0">
        </td>
        <td>
            <input type="checkbox" name="antigenico-effettua">
        </td>
    </tr>
    <tr>
        <td>Sierologico</td>
        <td>
            <input type="number" name="sierologico-ore" min="0">
            <select name="sierologico-minuti">
                <option value="0">0</option>
                <option value="15">15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
        </td>
        <td>
            <input type="number" name="sierologico-costo" min="0">
        </td>
        <td>
            <input type="checkbox" name="sierologico-effettua">
        </td>
    </tr>
</table>