html, body {
    height: 100%
}

h1{
    font-family:'Open Sans';
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.navbar {
    padding: 0;
    border-radius: 0px;
}

.navbar-brand {
    font-size:35px;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-bottom: 2px;
    margin-top: 2px;
}

.card{
    border-radius: 25px;
}

.card-header:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

input[type=text], input[type=password] {
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    transition: .3s box-shadow;
    width:20%;
    margin:10px 0;
    padding:10px;
    box-sizing: border-box;
}

input[type=submit] {
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:#00A4D3;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:25%;
}

.not-registred{
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-labooking{
    padding-top: 15px;
    padding-bottom: 15px;
}

.bg-primary{
    background-color: #00A4D3 !important;
}

#div-errore{
    width: 50%;
    background-color: #ffbfaa;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 15px;
}

#p-errore{
    margin: auto;
    padding: 5px;
    color: #d01507;
    font-weight: bold;
}

